@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  @apply bg-background text-textPrimary font-sans;
}

.custom-marker {
  background-color: #1E3A8A;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  border: 2px solid white;
}

.custom-marker:hover {
  background-color: #F59E0B;
}

/* Leaflet styles override */
.leaflet-container {
  width: 100%;
  height: 100%;
}
