@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textPrimary font-sans;
}

.custom-marker {
  background-color: #1E3A8A;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  border: 2px solid white;
}

.custom-marker:hover {
  background-color: #F59E0B;
}


